*{margin: 0;padding: 0;}
a{text-decoration: none;}

.fix{overflow: hidden;}
.full_container{
    width: 100%;
}
.header_wrap{
    background-color: #292929;
}
.container{
    width: 980px;
    margin: 0 auto;
}
#header .logo_left{
    float: left;
    padding-top: 20px;
}
#header .logo_left h1{
    font-weight: bold;
    font-family: lato;
    font-size: 40px;
    color: #fff;

}
#header nav{
    float: right;
}
#header nav .menu{
    list-style: none;
}
#header nav .menu li{
    float: left;
    border-right: 1px solid #1e1e1e;
}
#header nav .menu li:first-child{
    border-left: 1px solid #1e1e1e;
}
#header nav .menu li a{
    display: block;
    color: #fff;
    padding: 45px;
    font-weight: bold;
    font-family: lato;
    font-size: 16px;
    border-bottom: 5px solid #1e1e1e;
}
#header nav .menu li a:hover{
    display: block;
    color: #58c93a;
    padding: 45px;
    font-weight: bold;
    font-family: lato;
    font-size: 16px;
    border-bottom: 5px solid #58c93a;
}
#header nav .menu li.active a{
    display: block;
    color: #58c93a;
    padding: 45px;
    font-weight: bold;
    font-family: lato;
    font-size: 16px;
    border-bottom: 5px solid #58c93a;
}
.content{
    border-left: 1px solid #e1e0e0;
    border-right: 1px solid #e1e0e0;
    padding-bottom: 75px;
}
.content .left_section{
    float: left;
    width: 620px;
    margin-right: 75px;
}
.content .left_section .single_post_wrapper{
    padding-top: 75px;
    
}
.content .left_section .single_post_wrapper img{
    height: 310px;
    width: 620px;
    display: block;
}
.content .left_section .single_post_wrapper h2{
    color: #4f4e4e;
    padding: 20px;
    font-weight: bold;
    font-family: lato;
    font-size: 28px;
    text-transform: uppercase;
}
.content .left_section .single_post_wrapper p{
    color: #606060;
    font-family: lato;
    padding-top: 40px;
    font-weight: bold;
    font-size: 16px;
    padding-left: 20px;
    padding-bottom: 30px;
}
.content .left_section .single_post_wrapper .continuoue_r{
    color: #c2c1c1;
    padding: 10px 20px;
    background-color: #fff;
    font-family: lato;
    font-weight: bold;
    font-size: 16px;
    border: 2px solid #c2c2c2;
    border-radius: 25px;
    margin-left: 20px;
    cursor: pointer;
}


.content .sidebar aside{
    width: 280px;
    padding-top: 75px;
    float: right;
    overflow: hidden;

}

.content .sidebar h2{
    background-color: #f8f8f8;
    font-family: lato;
    font-weight: bold;
    font-size: 16px;
    color: #6c6969;
    border-left: 2px solid #58c93a;
    display: block;
    padding: 15px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.content .sidebar p{
    font-family: lato;
    font-size: 16px;
    color: #737373;
    padding: 20px;
    padding-bottom: 0;
}
.content .sidebar .search_box{
    height: 50px;
    width: 280px;
    color: #B9B9B9;
    font-family: lato;
    font-size: 12px;
    border: 1px solid #e0e1e1;
    border-right: none;
    padding-left: 20px;
}
.content .sidebar .mailbox{
    position: relative;
    float: right;
}
.content .sidebar #email{
    height: 50px;
    width: 259px;
    color: #B9B9B9;
    font-family: lato;
    font-size: 12px;
    border: 1px solid #e0e1e1;
    border-right: none;
    padding-left: 20px;
}
.content .sidebar .mailbox #submit_btn{
    background: url(img/submit.png) no-repeat;
    background-size: auto;
    text-indent: -9999px;
    position: absolute;
    top: 10px;
    right: 15px;
    height: 35px;
    width: 35px;
    border: none;
    cursor: pointer;
    background-size: 32px;
}
.downbtn{
    width: 980px;
    display: block;
    border: 1px solid #e0e1e1;
    border-bottom: none;


}
.downbtn button{
    height: 80px;
    width: 120px;
    background-color: #fff;
    border: none;
    color: #818181;
    font-family: lato;
    font-weight: bold;
    font-size: 18px;
}
.downbtn .prev{
    float:left;
    cursor: pointer;
}
.downbtn .next{
    float: right;
    cursor: pointer;
}

.footer_bg{
    background-color: #f8f8f8;
    border-top: 1px solid #e0e1e1;
}

.footer{
    display: block;
    margin: 0 auto;
    padding: 75px;
    text-align: center;
}
.footer h2{
    font-family: lato;
    font-weight: bold;
    font-size: 40px;
    color: #292929;
    padding-bottom: 25px;
}
.footer p{
    font-family: lato;
    font-size: 13px;
    color: #A6A6A6;
    padding-bottom: 25px;
}
.footer .social_area{
    display: inline-block;
}
.footer .social_area ul{
    list-style: none;
}
.footer .social_area ul li{
    float: left;
    padding-left: 20px;
    
}
.footer .social_area ul li a{
    background: url(img/fbh.png) no-repeat;
    height: 40px;
    width: 40px;
    display: inline-block;
}
.footer .social_area ul li a:hover{
    background: url(img/fb.png) no-repeat;
    height: 40px;
    width: 40px;
    display: inline-block;
}
.footer .social_area ul li#second a{
    background: url(img/twitter.png) no-repeat;
    height: 40px;
    width: 40px;
    display: inline-block;
}
.footer .social_area ul li#second a:hover{
    background: url(img/twitterh.png) no-repeat;
    height: 40px;
    width: 40px;
    display: inline-block;
}

.footer .social_area ul li#third a{
    background: url(img/be.png) no-repeat;
    height: 40px;
    width: 40px;
    display: inline-block;
}
.footer .social_area ul li#third a:hover{
    background: url(img/beh.png) no-repeat;
    height: 40px;
    width: 40px;
    display: inline-block;
}

.footer .social_area ul li:last-child a{
    background: url(img/wheel.png) no-repeat;
    height: 40px;
    width: 40px;
    display: inline-block;
}
.footer .social_area ul li:last-child a:hover{
    background: url(img/wheelh.png) no-repeat;
    height: 40px;
    width: 40px;
    display: inline-block;
}
