/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    .wraper {
        width: 90%;
        margin: 0 auto;
        overflow: hidden;
    }
    header .logo img {
        
        margin-left: 25px;
        margin-top: 30px;
    }
   main{
       width: 100%;
   }
   .wraper > h1 {
    font-size: 70px;
    padding-top: 60px;
    padding-bottom: 20px;
}
    .wraper > p{
        padding: 30px;
    }
    .wraper > img {
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .section_top .wraper section {
        padding-top: 45px;
        text-align: center;
    }
    .sectionx .wraper .section1 p {
        
        padding-bottom: 12px;
    }
    .wraper section p {
        text-align: justify;
        padding-bottom: 25px;
    }

    .sectionx .wraper .section1{
        width: 100%;
        
    }

    .sectionx .wraper .section1 img {
        padding: 11px;
    }
    .article_pic .img {
        width: 100%;
        height: 300px;
        
    }
    .article_pic .img .hover {
        display: none;
         
     }
    .wraper .form {
        width: 100%;
        padding-bottom: 40px;
    }
    .wraper .form input[type="text"] {
        width: 90%;
    }
    .wraper .form textarea {
       width: 86%;
    }
    .wraper .form button {
        margin-right: -9%;
    }
    .article_wrapper {
        background-color: #f6f9f9;
        padding-bottom: 0px;
    }
    .wraper .footer_down .footer_left{
        display: block;
        margin: 10px;
        text-align: center;
    }
    .wraper .footer_down .footer_left p{
        padding: 0px;
    }
    .wraper .footer_down .footer_right{
        display: block;
        float: none;
        text-align: center;
    }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
   
    .wraper{
        width: 99%;
        margin: 0 auto;
        overflow: hidden;
    
    }
   main{
       width: 100%;
   }
    .wraper > h1{
        font-size: 70px;
        padding-top: 120px;
        padding-bottom:20px;
    }
    .wraper > p{
        padding: 30px;
    }
    .wraper > img{
        margin-top: 100px;
        margin-bottom: 50px;
    }
    
    .wraper section p{
        
        padding-bottom: 40px;
    
    }

    .sectionx .wraper .section1{
        width: 100%;
        
    }
    .article_pic .img {
        width: 100%;
        height: 300px;
        
    }
    .article_pic .img .hover {
       display: none;
        
    }
    .wraper .form {
        width: 100%;
        padding-bottom: 40px;
    }
    .wraper .form input[type="text"] {
        width: 90%;
    }
    .wraper .form textarea {
       width: 88%;
    }
    .wraper .form button {
        margin-right: -20%;
    }
    .article_wrapper {
        background-color: #f6f9f9;
        padding-bottom: 0px;
    }
    .footer_bottom .footer_left {
        padding-top: 2px;
        display: inline-block;
    }
    
 }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
    .wraper{
        margin: 0 auto;
        width: 90%;
    }

    main{
        width: 100%;
    }
     .wraper > h1{
         font-size: 100px;
         padding-top: 120px;
         padding-bottom:40px;
     }
     .wraper > p{
         padding: 30px;
     }
     .wraper > img{
         margin-top: 100px;
         margin-bottom: 70px;
     }


    .sectionx .wraper .section1 {
        width: 28%;
        
    }

    .article_pic .img {
        height: 155px;
        width: 31%;
        
    }
    .article_pic .img .hover {
        height: 100%;
        width: 100%;
        
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
    
    
 }

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    
 }